{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<span class="span8"><h1>Welcome to Mafia</h1></span>

        {% if user.is_authenticated %}
            <span class="span4">Signed in as {{ user.username }} | <a id="sign_out" href='/logout/'>Sign Out</a></span>
        {% else %}
		    <span class="span4"><a id="sign_in" href='/login/'>Sign In</a> |  
		    <a id="register" href='/register/'>Register</a></span>
		{% endif %}
	</div>

	<div class="row" style='text-align: center;'>
		<img src="/static/mafia.jpg">
    </div>

    <div>
        {% for game in games %}
            <a href="{{ game.get_absolute_url }}">
                {{ game }}
            </a>
        {% endfor %}
    </div>
	
{% endblock %}
